body{
    margin: 0%;
    background-color: rgb(19, 17, 17)
}
/* Nav Bar CSS */
.topcontainer{
    background-color: #373434b9;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.topBar{
    display: flex;
    justify-content: space-evenly;
}
.companyLogo{
    display: flex;
    height: 150px;
    margin: 0%;
    padding-left: 15px;
}

.companyLogo svg{
    align-self: center;
    padding-right: 10px;
    color: aliceblue;
}

.companyLogo p{
    font-family:"Tangerine", cursive;
    font-size: 50px;
    color: aliceblue;
}

.options{
    display: flex;
    flex-wrap: wrap;
}

.options button{
    padding: 15px;
    align-self: center;
    margin-right: 25px;
}

/* CSS For log in button appearance */
.logInContainer{
    display: flex;
    justify-content: right;
}

.visible{
    display: none;
}

/* Log In Form / Sign Up Form CSS */
.logInForm{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logInForm svg{
    color: aliceblue
}

.logInForm h3{
    color: aliceblue;
}

.submit{
    margin-top: 15px;
}

/* Section One CSS  */

.adOne{
    margin-top: 150px;
    height: 100vh;
    background-image: url("./images/Urus_Wrapped.jpg");
    background-size: cover;
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.heading h3{
    color: aliceblue;
    font-size: 45px;
    font-weight: bolder;
}

.description{
    width: 60%;
}
.description p{
    color: white;
    font-size: 22px;
    padding-left: 30px;
}

/* CSS For Section Divider */
.breakUp{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-size: 20px;
}

.breakUpBody{
    display: flex;
}

.breakUpBody p{
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Section Two CSS */
.adTwo{
    height: 100vh;
    background-image: url("./images/f8_inside.webp");
    background-size: cover;
    display: flex;
    justify-content: right;
}

/* Section Two CSS */
.adThree{
    height: 100vh;
    background-image: url("./images/ford_gt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* CSS For Smaller Screens */
@media (min-width: 300px) and (max-width: 800px){
    /* Nav Bar CSS */
    .companyLogo{
        width: 70%;
        padding-left: 1px;
    }

    .option{
        width: 30%;
    }
    
    .companyLogo svg{
        display: none;
        padding-right: 1px;
    }
    
    .companyLogo p{
        font-size: 40px;
    }
    
    .options{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .options button{
        padding: 10px;
        align-self: center;
        margin-right: px;
    }

    /* First Section CSS */
    .adOne{
        margin-top: 150px;
        height: 50vh;
        background-position: center;
    }

    .content{
        width: 80%;
    }

    /*  Text CSS*/
    .heading h3{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 0%;
        font-size: 25px;
    }

    .description{
        width: 100%;
    }

    .description p{
        font-weight: 600;
        font-size: 18px;
    }

   /* Section Breaks CSS */
   .breakUpBody p{
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

    .adTwo{
        height: 50vh;
        background-position: center;
    }

    .adThree{
        background-position: center;
    }
}



@media (max-width: 299px){
     /* Nav Bar CSS */

.topcontainer{
    width: 280px;
}
    
     .topBar{
        display: flex;
        justify-content: flex-start;
    }

    .companyLogo{
        width: 50%;
        padding-left: 1px;
    }
    
    .companyLogo svg{
        display: none;
        padding-right: 1px;
    }
    
    .companyLogo p{
        font-size: 30px;
    }
    
    .options{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
    }

    button{
        margin-right: 0%;
        padding-right: 0%;
    }


    .adOne{
        margin-top: 150px;
        height: 50vh;
        background-position: center;
    }

    .content{
        width: 100%;
    }
}